{% extends "base.html" %}

{% block page_title %}
Project #{{p.id}} - {{p.title}}
{% endblock %}

{% block content %}
{% with loc=p.location_set.all|first comm_info=p.communityinfo_set.all|first %}
<div class="column span-9">
    <h2 class="alt">Project #{{p.id}} - {{p.title}}</h2>
    <p>
        <strong>Location:</strong> {{loc.name}}, {{loc.country.name}}<br/>
        <strong>Region:</strong> {{loc.region.value}}<br/>
        <strong>People Served by Project:</strong> {{comm_info.num_ppl_served.value}}<br/>
        <strong>Community Size:</strong> {{comm_info.community_size}}<br/>
        <strong>Type of Project:</strong> {{p.proj_types.all|join:", "}}<br/>
        <strong>Project Duration:</strong> {{p.start_date}} - {{p.end_date}}<br/>
        <strong>Organizations:</strong> {{p.organizations.all|join:", "}}<br/>
        <strong>Summary:</strong> {{p.description}}<br/>
        <strong>Keywords:</strong>
	    {% if p.keywords.all %}
		{{p.keywords.all|join:", "}}
	    {% else %}
	        (none listed)
	    {% endif %}
	    <br/>
    </p>
</div>
<div class="span-9 last">
    <img src="{{STATIC_URL}}images/SamoaPic.jpg" alt="TODO" title="TODO" />
</div>
<div class="column span-18 last">
    <h3>Project Description</h3>
    <p>{{p.description}}</p>
    <h3>Community Description</h3>
    <p>{{comm_info.description}} {{p.CommunityInfo.description}}</p>
    <h3>Location Description</h3>
    <p>{{loc.description}}</p>
</div>

<div class="column span-9">
    <h3>Local Conditions</h3>
    <h3 class="alt">Environment and Resources</h3>
    <strong>Type:</strong> TODO<br/>
    <strong>Annual Precipitation:</strong> TODO<br/>
    <strong>Seasonal Rainfall Distribution:</strong> TODO<br/>
    <strong>Average Temperature:</strong> TODO<br/>
    <strong>Elevation:</strong> {{loc.elevation.value}}<br/>
    <strong>Topography:</strong> {{loc.topography.value}}<br/>
    <strong>Geology:</strong> TODO<br/>
    <strong>Soil Type:</strong> TODO<br/>
    <strong>Depth of Topsoil:</strong> TODO<br/>
    <strong>Natural Resources:</strong> TODO<br/>
    <strong>Water Supply:</strong> TODO<br/>
    <strong>Water Treatment:</strong> TODO<br/>
    <strong>Resource Management/Protection:</strong> TODO<br/>
    <strong>Community Structure:</strong> TODO<br/>
</div>

<div class="span-9 last">
    <h3>Project Details</h3>
    <h3 class="alt">Materials and Labor</h3>

    <strong>Project Funder:</strong> TODO<br/>
    <strong>Pre-Construction Requirements:</strong> TODO<br/>
    <strong>Labor Force:</strong> TODO<br/>
    <strong>Project Management:</strong> TODO<br/>
    <strong>Construction Resources:</strong> TODO<br/>
    <strong>Human Resources:</strong> TODO<br/>
    <strong>Retail Resources:</strong> TODO<br/>
    <strong>Available Technology:</strong> TODO<br/>
    <strong>Materials Used:</strong> TODO<br/>
    <strong>Materials Provider:</strong> TODO<br/>
</div>
<hr/>
<div class="column span-18 last">
    <h3>Post-Project Maintenance</h3>
    <p>TODO</p>
    <strong>Responsibilities:</strong> TODO<br/>
    <strong>Funding:</strong> TODO<br/>
    <strong>When did the community take ownership:</strong> TODO<br/>
</div>        
<hr/>
<div class="column span-18 last">
    <h3>Lessons Learned</h3>
    <p>TODO</p>
    <strong>Successes:</strong> TODO<br/>
    <strong>Obstacles:</strong> TODO<br/>
    <strong>Community Impact:</strong> TODO<br/>
    <strong>Pre-Construction Actions Required by the Community:</strong> TODO<br/>
</div>
<hr/>
<div class="column span-18 last">
    <h3>Educational Component</h3>
    <p>TODO</p>
</div>
{% endwith %}
{% endblock %}
