{% extends "base.html" %}

{% block page_title %}
Project #{{p.id}} - {{p.title}}
{% endblock %}

{% block more_scripts %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
{% endblock %}

{% block content %}
{% with loc=p.location_set.all|first comm_info=p.communityinfo_set.all|first geo_conds=p.geoconditions_set.all|first clim=p.climate_set.all|first %}
<h2>
    {{p.title}}<br/>
    <span class="alt">{{loc.name}}, {{loc.state_prov}}, {{loc.country.name}}</span>
</h2>

<div class="span-9">
    
    <strong>Goal:</strong> {{p.goal}}<br/>    
    <strong>Project Type:</strong>
    <ul> 
        {% for t in p.proj_types.all %}
            <li><a href="#" title="See other {{t}} projects">{{t}}</a></li>
        {% endfor %}
    </ul>
    
    <strong>Project Duration:</strong> {{p.start_date}} - {{p.end_date}}<br/>
    <strong>People Served by Project:</strong> {{comm_info.num_ppl_served}}<br/>
    
    <strong>Description:</strong> 
    {% if p.description|wordcount > 60 %} {# TODO: write javascript to toggle the more/less #}
        <span class="trunc">{{p.description|truncatewords:50}} </span>
        <span class="untrunc hide">{{p.description}} </span>
        <a href="#" class="trunc_show" title="View More">More</a>
    {% else %}    
        {{p.description}}
    {% endif %}
    <br/>
    
    {# TODO: Project Management description? #}

    <strong>Involved Organizations:</strong>
    <ul> 
        {% for org in p.organization_set.all %}
            <li><a href="#" title="See other projects by {{org.name}}">{{org.name}}</a></li>
        {% empty %}
            (none listed)
        {% endfor %}
    </ul>

    <strong>Keywords:</strong>
        {% for k in p.keywords.all %}
            <a href="#" title="See other projects tagged with &quote;{{k}}&quote;">{{k}}</a>
            {% if not forloop.last %}, {% endif %}
        {% empty %}
            (none listed)
        {% endfor %}
    </ul>
    
</div>
<div class="span-9 last">
    <img src="{{STATIC_URL}}images/SamoaPic.jpg" alt="TODO" title="TODO" />
</div>

<hr/>

<div class="span-9">
    <h3>Location Information</h3>
    {# TODO: Add links to country name and region to find other projects #}
    <strong>Location:</strong> {{loc.name}}, {{loc.state_prov}}, <a href="#" title="See other projects in {{loc.country.name}}">{{loc.country.name}}</a><br/>
    <strong>Region:</strong> <a href="#" title="See other projects in {{loc.region}}">{{loc.region}}</a><br/>
    <strong>Description:</strong> {{loc.description}}</br>
    <strong>Topography:</strong> {{loc.topography}}<br/>
    <strong>Elevation:</strong> {{loc.elevation}}<br/>
    <strong>Geographic Location:</strong> {{loc.latitude}}, {{loc.longitude}}<br/> 
</div>

<div class="span-9 last">
    <div id="map" style="width: 340px; height: 200px"></div> 
    
    {# TODO: Also need to fetch and display nearby projects...might need spatial extension to db #}
    <script type="text/javascript"> 
        var myLatLng = new google.maps.LatLng({{loc.latitude}},{{loc.longitude}});
        var myOptions = {
            zoom: 8,
            center: myLatLng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(document.getElementById("map"), myOptions);

        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: "{{loc.name}}"
        });
    </script>
</div>

<hr/>

<div class="span-9">
    <h3>Community Information</h3> 
    
    <strong>Community Size:</strong> {{comm_info.community_size}}<br/>
    <strong>Urban or Rural:</strong> {{comm_info.urban_rural}}<br/>
    <strong>Level of Water Management:</strong> {{comm_info.water_mgmt_level}}<br/>
    <strong>Description of Community:</strong> {{comm_info.description}}<br/>

</div>
<div class="span-9 last">
    <h3>Climate</h3>
    
    <strong>Climate Zone:</strong> {{clim.climate_zone}}<br/>
    <strong>Precipitation:</strong> {{clim.precipitation}}<br/>
    <strong>Has Rainy Season:</strong> {{clim.has_rainy_season|yesno:"Yes,No"}}<br/>
    {% if clim.has_rainy_season %}k
        <strong>Rainy Months:</strong> {{clim.rainy_months.all|join:", "}}<br/>
    {% endif %}
</div>

<hr/>

<div class="span-9">
    <h3>Geological Conditions</h3>
    <strong>Description:</strong> {{geo_conds.description}}<br/>
    <strong>Soil Type:</strong> {{geo_conds.soil_type}}<br/>
    <strong>Hit Bedrock:</strong> {{geo_conds.hit_bedrock|yesno:"Yes,No"}}<br/>
    <strong>Hit Water Table:</strong> {{geo_conds.hit_water_table|yesno:"Yes,No"}}<br/>
    <strong>Impact of Geological Conditions:</strong> {{geo_conds.geo_impact}}<br/> 
</div>
<div class="span-9 last">
    <h3>Materials and Labor</h3>

    <strong>Project Funder:</strong> TODO<br/>
    <strong>Labor Force:</strong> TODO<br/>
    <strong>Project Management:</strong> TODO<br/>
    <strong>Construction Resources:</strong> TODO<br/>
    <strong>Human Resources:</strong> TODO<br/>
    <strong>Retail Resources:</strong> TODO<br/>
    <strong>Available Technology:</strong> TODO<br/>
    <strong>Materials Used:</strong> TODO<br/>
    <strong>Materials Provider:</strong> TODO<br/>
</div>

<hr/>

<div class="span-18 last">
    <h3>Human Resources</h3>
    
    {% for contact in p.humanrescontact_set.all %}
    
    {% endfor %}

</div>

<hr/>

<div class="column span-18 last">
    <h3>Involved Organizations</h3>
    
    {% for org in p.organization_set.all %}
        <a href="#" class="title" title="See other projects by {{org.name}}">{{org.name}}</a><br/>
        <strong>Phone:</strong> {{org.phone|default:"none listed"}}<br/>
        <strong>E-Mail: </strong> {{org.email|default:"none listed"}}<br/>
        
        <strong>Address: </strong><br/>
        {% if org.add_street1 and org.add_city and org.add_code and org.add_state_prov and org.add_country %} 
            {{org.add_street1|default:""}}<br/>
            {% if org.add_street2 %}{{org.add_street2|default:""}}<br/>{% endif %}
            {{org.add_city|default:""}}, {{org.add_state_prov|default:""}}<br/>
            {{org.add_code|default:""}}<br/>
            {{org.add_country.name|default:""}}<br/>
        {% else %}
            none listed<br/>
        {% endif %}
        
        <strong>Website: </strong> {{org.website|default:"none listed"}}<br/>
        <strong>Notes:</strong> {{org.notes|default:"none listed"}}<br/>
        <br/><br/>
    {% empty %}
        (none listed)
    {% endfor %}

</div>
        
<hr/>

<div class="column span-18 last">
    <h3>Project Contacts</h3>
    
    {% for contact in p.projectcontact_set.all %}
        <a href="#">{{given_name}} {{middle_name}} {{surname}}</a>
        <br/><br/>
    {% endfor %}
</div>

{% endwith %}
{% endblock %}
