{% extends "base.html" %}

{% block page_title %}
Project #{{p.id}} - {{p.title}}
{% endblock %}

{% block content %}
{% with loc=p.location_set.all|first comm_info=p.communityinfo_set.all|first geo_conds=p.geoconditions_set.all|first%}
<h2>
    {{p.title}}<br/>
    <span class="alt">{{loc.name}}, {{loc.state_prov}}, {{loc.country.name}}</span>
</h2>

<div class="span-9">
    <p>
        <strong>Goal:</strong> {{p.goal}}<br/>    
        <strong>Type of Project:</strong> {{p.proj_types.all|join:", "}}<br/>
        <strong>People Served by Project:</strong> {{comm_info.num_ppl_served.value}}<br/>
        <strong>Project Duration:</strong> {{p.start_date}} - {{p.end_date}}<br/>
        <strong>Summary:</strong> {{p.description}}<br/>
        <strong>Involved Organizations:</strong>
        {% if p.organizations.all %}
	    {{p.keywords.all|join:", "}}
        {% else %}
            (none listed)
        {% endif %}<br/>
        <strong>Keywords:</strong>
        {% if p.keywords.all %}
	    {{p.keywords.all|join:", "}}
        {% else %}
            (none listed)
        {% endif %}<br/>
    </p>
</div>
<div class="span-9 last">
    <img src="{{STATIC_URL}}images/SamoaPic.jpg" alt="TODO" title="TODO" />
</div>

<div class="span-9">
    <h3>Location and Community Information</h3>
    <strong>Region:</strong> {{loc.region.value}}<br/>
    <strong>Description:</strong> {{loc.description}}</br>
</div>
<div class="span-9 last">
    <h3>Something</h3>    
</div>

<hr/>

<div class="span-9">
    <h3>Geological Conditions</h3>
    <strong>Description:</strong> {{geo_conds.description}}<br/>
    <strong>Soil Type:</strong> {{geo_conds.soil_type}}<br/>
    <strong>Hit Bedrock:</strong> {{geo_conds.hit_bedrock}}<br/>
    <strong>Hit Water Table:</strong> {{geo_conds.hit_water_table}}<br/>
    <strong>Impact of Geological Conditions:</strong> {{geo_conds.geo_impact}}<br/>
    <strong>Topography:</strong> {{loc.topography}}<br/>
</div>
<div class="span-9 last">
    <h3>Materials and Labor</h3>

    <strong>Project Funder:</strong> TODO<br/>
    <strong>Labor Force:</strong> TODO<br/>
    <strong>Project Management:</strong> TODO<br/>
    <strong>Construction Resources:</strong> TODO<br/>
    <strong>Human Resources:</strong> TODO<br/>
    <strong>Retail Resources:</strong> TODO<br/>
    <strong>Available Technology:</strong> TODO<br/>
    <strong>Materials Used:</strong> TODO<br/>
    <strong>Materials Provider:</strong> TODO<br/>
</div>

<hr/>

<div class="column span-18 last">
    <h3>Post-Project Maintenance</h3>
    <p>TODO</p>
    <strong>Responsibilities:</strong> TODO<br/>
    <strong>Funding:</strong> TODO<br/>
</div>        
<hr/>
<div class="column span-18 last">
    <h3>Lessons Learned</h3>
    <p>TODO</p>
    <strong>Successes:</strong> TODO<br/>
    <strong>Obstacles:</strong> TODO<br/>
    <strong>Community Impact:</strong> TODO<br/>
</div>
<hr/>
<div class="column span-18 last">
    <h3>Educational Component</h3>
    <p>TODO</p>
</div>
{% endwith %}
{% endblock %}
