{% extends "base.html" %}

{% block page_title %}Add Project - Step {{step}}{% endblock %}

{% block more_scripts %}
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.formset.js"></script>

    <script type="text/javascript">
        $(function() {
            $('.form-container').formset(options={
                    addText:"Add Another", 
                    deleteText:"Remove"
                });
        })
    </script>
{% endblock %}

{% block content %}
<h3>Add Your Project - {{ step_title }} - <span class="alt">Step {{ step }} of {{ step_count }}</span></h3>
<p>
    Please tell us about your project. Be as complete and as specific as you can so that your project experiences can best help others.<br/>
    <span class="quiet">Fields labeled in <strong>bold</strong> are required.</span>
</p>

{% if form.errors %}<p class="error">Please correct the errors below.</p>{% endif %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="/bw/projects/add/step/{{step}}/" method="post">
    {% csrf_token %}
   
    {% for form in formset.forms %}
        <fieldset class="form-container">
            <legend>{{legend}}</legend>
            
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            
            {% for field in form.visible_fields %}
            
                {% include "forms/form_field_snippet.html" %}
                
            {% endfor %}
        </fieldset><br/>
    {% endfor %}
    
    {{ formset.management_form }}
    
    <button type="reset">Reset</button> <button type="submit" name="save">Save</button> <button type="submit" name="save_and_cont">Save and Continue</button> 
</form>
{% endblock %}