{% extends "base.html" %}

{% block page_title %}Add Project - Step {{step}}{% endblock %}

{% block content %}
<h2>Add Your Project - {{ step_title }} - Step {{ step }} of {{ step_count }}</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="/projects/add/step/1/" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    
    <button type="reset">Reset</button> <button type="submit">Save</button> <button type="submit">Save and Continue</button>
</form>
{% endblock %}