{% extends "base.html" %}

{% block page_title %}Add Project - Step {{step}}{% endblock %}

{% block content %}
<h3>Add Your Project - {{ step_title }} - <span class="alt">Step {{ step }} of {{ step_count }}</span></h3>
<p>
    Please tell us about your project. Be as complete and as specific as you can so that your project experiences can best help others.<br/>
    <span class="quiet">Fields marked with a star * are required.</span>
</p>

{% if form.errors %}<p class="error">Please correct the errors below.</p>{% endif %}

<form action="/bw/projects/add/step/{{step}}/" method="post">
    {% csrf_token %}
    
    {% for field in form %}
        <p class="form-field">
            
            {{field.label_tag}} {% if field.field.required %}*{% endif %}<br/>
            {% if field.field.help_text %}
                <span class="quiet">{{field.field.help_text}}</span><br/>
            {% endif %}
            {% if field.errors %}
                {% for err in field.errors %}
                    <span class="field-error">{{err}}</span><br/>
                {% endfor %}  
            {% endif %}
            {{field}}
            
        </p>
    {% endfor %}

    <button type="reset">Reset</button> <button type="submit">Save</button> <button type="submit">Save and Continue</button> 
</form>

{% endblock %}