{% extends "base.html" %}

{% block page_title %}Add Project - Step {{step}}{% endblock %}

{% block content %}
<h2>Add Your Project - {{ step_title }} - Step {{ step }} of {{ step_count }}</h2>

{% if form.errors %}<p class="error">Please correct the errors below.</p>{% endif %}

<form action="/bw/projects/add/step/1/" method="post">
    {% csrf_token %}
    
    {% for field in form %}
        <div class="form-field">
            {%if field.errors %}
                <div class="error">{{field.errors}}</div>
            {% endif %}
            
            {{field.label_tag}}: {{field}}
        </div>
    {% endfor %}
    
    <button type="reset">Reset</button> <button type="submit">Save</button> <button type="submit">Save and Continue</button>
</form>

{% endblock %}