	<?php include('inc/head.inc.php'); ?>
	
	<?php include('inc/header.inc.php'); ?>
			
	<?php include('inc/nav.inc.php'); ?>	
		
		<div id="ajaxContent">
		<div id="main" class="span-18 last">
			
			<img src="images/vsmith.png" />
			
			<p class ="small">Bridging Waters was born out of the experiences of President Virginia Smith.</p>
			<hr class="space">
				<p>
					In 2006, I came to the University of Texas at Austin to begin graduate studies in environmental and water resources engineering. 
					I had recently returned to the United States from serving two years with the Peace Corps in Samoa, working on a small tropical island 
					in the	middle of the South Pacific. For me, it was the opportunity of a lifetime, in part because it was where I discovered my passion
					for working on water projects. In Samoa, I learned to navigate the social and technical necessities of constructing a successful water project. 
					But upon leaving, I felt the frustration of not having a forum to share the lessons I had learned from my experiences. In graduate school 
					I met a community of students who had similar experiences and frustrations to my own. We recognized a need for stronger 
					communication between groups working on water projects and that sharing information about best practices and lessons learned could be very 
					beneficial for completing sustainable water projects in developing countries and regions. However, the medium didn't exist. 
					<br><br>
					To fill this void, we created this nonprofit organization, Bridging Waters. We aspire to create a website for individuals and groups 
					working on water projects in developing areas to share information and ideas. We envision a website that provides basic resources 
					(e.g., how to construct a spring box or water filter, or best management strategies in a particular region), a discussion board, 
					and a database of previous water projects. The database will be the bulk of this project. Through the Bridging Waters website, 
					users will be able to fill out a survey about projects they have worked on previously. Other users will then be able to search 
					through this database using criteria such as location, project type, technology, environment, or community type. Through these products 
					we hope to create an information portal to aid in water project development and sustainability. The more information we can learn from each 
					other the stronger our projects can be.
				<br><br>
					-Virginia Smith, 2011<br>
					President, Bridging Waters

				</p>
			</div>
			

		</div><!-- end ajax content -->
		
	</div>

	<?php include('inc/sidebar.inc.php'); ?>
	
	<?php include('inc/footer.inc.php'); ?>		