{% extends "base.html" %}

{% block page_title %}Add Project - Step {{step}}{% endblock %}

{% block content %}
<h3>Add Your Project - {{ step_title }} - <span class="alt">Step {{ step }} of {{ step_count }}</span></h3>
<p>
    Please tell us about your project. Be as complete and as specific as you can so that your project experiences can best help others.<br/>
    <span class="quiet">Fields marked with a star * are required.</span>
</p>

{% if form.errors %}<p class="error">Please correct the errors below.</p>{% endif %}

<form action="/bw/projects/add/step/{{step}}/" method="post">
    {% csrf_token %}
    
    {% for field in form %}
        {% include "form_field_snippet.html" %}
    {% endfor %}

    <button type="reset">Reset</button> <button type="submit">Save</button> <button type="submit">Save and Continue</button> 
</form>

{% endblock %}