	<?php include('inc/head.inc.php'); ?>
	
	<?php include('inc/header.inc.php'); ?>
			
	<?php include('inc/nav.inc.php'); ?>	
		
		<div id="ajaxContent">
		<div id="main" class="span-18 last">
			
			<div class="column span-9">
				<h3>Officers</h3>
				<ul>
					<li><a href="#president">President</a></li>
					<li><a href="#vpcommittees">VP Committees</a></li>
					<li><a href="#vptechnology">VP Technology</a></li>
					<li><a href="#secretary">Secretary</a></li>
					<li><a href="#treasurer">Treasurer</a></li>
				</ul>
				
			</div>
			<div class="span-9 last">
				<h3>Contact Info</h3>
				<p>
					For general inquiries or to learn about getting involved, contact us at: 
					<a href="mailto:info@bridgingwaters.org">info@bridgingwaters.org</a>
				</p>
			</div>
			
			<div class="bios column span-19">
				<a name="president"></a>
				<h3>President - Virginia Smith</h3>
				<p>
					Virginia is a PhD student in the Jackson School of Geosciences at the University of Texas at Austin. 
					In 2008 she received her master's degree in Environmental and Water Resource Engineering from UT.  
					She has a bachelor's degree in Civil and Environmental Engineering from Georgia Institute of Technology.  
					Prior to starting her graduate work Virginia spent two years serving as a Peace Corps Volunteer in Samoa.
				</p>
				<!--<p class="small"><a href="#top">Back to Top</a></p>-->
				<a name="vpcommittees"></a>
				<h3>VP Committees - Brent Stephens</h3>
				<p>
					Brent is a doctoral candidate in Civil, Architectural and Environmental Engineering at the University of Texas at Austin. 
					He received his B.S. in Civil Engineering from Tennessee Technological University in 2007, followed by his M.S. in Environmental and Water Resources Engineering 
					from UT-Austin in 2009. He is currently a member of an interdisciplinary National Science Foundation program in indoor environmental 
					science and engineering where he is researching novel techniques for testing indoor air quality and energy consumption in buildings.
				</p>
				<!--<p class="small"><a href="#top">Back to Top</a></p>-->
				<a name="vptechnology"></a>
				<h3>VP Technology - James Seppi</h3>
				<p>
					James received his master's in Environmental and Water Resources Engineering at the University of Texas.  
					James did his undergraduate studies in Computer Engineering and Chinese at the University of Maryland.  He is an active member of the Panama Sieykin project of Engineers Without
					Borders - Greater Austin.
				</p>
				<!--<p class="small"><a href="#top">Back to Top</a></p>-->
				<a name="secretary"></a>
				<h3>Secretary - Ellison Carter</h3>
				<p>
					Ellison Carter is a doctoral candidate in Environmental Engineering at the University of Texas at Austin.  
					Ellison is focused on addressing public and environmental health issues and is currently studying ways to remove formaldehyde and several other related pollutants from the indoor environment.
				</p>
				<!--<p class="small"><a href="#top">Back to Top</a></p>-->
				<a name="treasurer"></a>
				<h3>Treasurer - Laura Read</h3>
				<p >
					Laura Read received her master's in Environmental and Water Resources Engineering UT where she modeled water availability in a glacial river basin in Peru.  She became involved with BW because she believes in education and global cooperation toward solving water issues. She is now a PhD candidate at Tufts University.
				</p>
				<!--<p class="small"><a href="#top">Back to Top</a></p>-->
			</div>
			
		</div>
		</div><!-- end ajax content -->
		
	</div>

	<?php include('inc/sidebar.inc.php'); ?>
	
	<?php include('inc/footer.inc.php'); ?>		