	<?php include('inc/head.inc.php'); ?>
	
	<?php include('inc/header.inc.php'); ?>
			
	<?php include('inc/nav.inc.php'); ?>	
		
		<div id="main" class="span-18 last">
			<h2><span class="">Get Involved!</span></h2>
			<div class="column span-19">
				<ul>
					<li>Become a Member</li>
					<li>Donate</li>
					<li>Fundraise</li>
					<li>Follow our Progress</li>
					<li>Join our email list</li>
				</ul>
			</div>
		</div>
		
	</div>

	<?php include('inc/sidebar.inc.php'); ?>
	
	<?php include('inc/footer.inc.php'); ?>		