{% extends "base.html" %}

{% block content %}
<div class="notice">
    The Bridging Waters website and project database are currently under construction.  If you're interested in helping get us off the ground, please contact <a href="mailto:info@bridgingwaters.org">info@bridgingwaters.org</a>.
</div>

<h2><span class="alt">What is Bridging Waters?</span></h2>
<p class="large">
    Bridging Waters is a nonprofit organization devoted to sharing information about water related projects in developing countries. <a href="about.html">Read more</a> about our story.
</p>

<div id="featured" class="column span-18">   
    <div class="project span-17 last">
        <div class="thumbnail">
            <img src="{{STATIC_URL}}images/Samoa-tb.jpg" alt="" title="Project #123" class="float-left" />
        </div>
        <div class="quicklook">
            <h3>Featured Project - <a href="/bw/project/{{feat_proj.project.id}}">{{feat_proj.project.title}}</a></h3>
            <strong>Location:</strong> {{loc.name}}, {{loc.country}}<br/>
            <strong>Goal:</strong> {{feat_proj.project.goal}}<br/>
            <strong>Type of Project:</strong> {{feat_proj.project.proj_types.all|join:", "}}<br/>
            <strong>Project Duration:</strong> {{feat_proj.project.start_date}} - {{feat_proj.project.end_date}}<br/>
            <strong>Organizations:</strong> {{feat_proj.project.organizations.all|join:", "}}<br/>
            <strong>Summary:</strong> {{feat_proj.project.description}}<br/>
            <strong>Keywords:</strong>
            <strong>Keywords:</strong>
                {% if feat_proj.project.keywords.all %}
                    {{feat_proj.project.keywords.all|join:", "}}
                {% else %}
                    (none listed)
                {% endif %}
            <br/>
            <a href="/bw/project/{{feat_proj.project.id}}/">Read more...</a><br/>
        </div>
    </div>
</div>

<hr class="space"/>

<div class="column span-18">
        
        <h3>Latest News</h3>
        
        {% for news_item in latest_news_list %}
            <div class="newsItem">
                <h4><span class="ss_sprite ss_newspaper"></span>{{ news_item.title }}</h4>
                <p>{% autoescape off %}{{ news_item.content }}{% endautoescape %}</p>
                <p class="small">Posted on: {{ news_item.created }} by <span class="author">{{ news_item.author }}</span></p>
            </div>
        {% endfor %}
        
        <a href="more_news.html">See previous updates</a>
</div>
{% endblock %}