{% extends "base.html" %}

{% block page_title %}
Project #{{project.id}} - {{project.title}}
{% endblock %}

{% block content %}
<div class="column span-9">
    <h2 class="alt">Project #{{project.id}} - {{project.title}}</h2>
    <p>
	<strong>Location:</strong> {{project.location.name}}, {{project.location.country}}<br/>
	<strong>Region:</strong> {{project.location.region.value}}<br/>
	<strong>People Served by Project:</strong> 700<br/>
	<strong>Community Size:</strong> 500 - 2,500<br/>
	<strong>Type of Project:</strong> water, sanitation<br/>
	<strong>Project Duration:</strong> {{project.start_date}} - {{project.end_date}}<br/>
	<strong>Organizations:</strong> Peace Corps Samoa<br/>
	<strong>Summary:</strong> {{project.description}}<br/>
	<strong>Keywords:</strong> water tank, rain collection, Oceania<br/>
    </p>
</div>
<div class="span-9 last">
    <img src="{{STATIC_URL}}images/SamoaPic.jpg" alt="" title="Project #123" />
</div>
<div class="column span-18 last">
    <h3>Project Description</h3>
    <p>{{project.description}}</p>
    <h3>Community and Location Description</h3>
    <p>Auala is a Samoan village located on the northwest side of the island of Savai'i. The tanks we located next to homes. (Each home supporting between 10-20 people.  Tanks were also built in the neighboring village of Vaisala.</p>
</div>

<div class="column span-9">
    <h3>Local Conditions</h3>
    <h3 class="alt">Environment and Resources</h3>
    <strong>Type:</strong> Rainforest<br/>
    <strong>Annual Precipitation:</strong> 3m<br/>
    <strong>Seasonal Rainfall Distribution:</strong> 2 seasons, one intensely more wet than the other (monsoon)<br/>
    <strong>Average Temperature:</strong> 89 degrees F<br/>
    <strong>Elevation:</strong> {{project.location.elevation.value}}<br/>
    <strong>Topography:</strong> {{project.location.topography.value}}<br/>
    <strong>Geology:</strong> lava covered with shallow sand<br/>
    <strong>Soil Type:</strong> Sand<br/>
    <strong>Depth of Topsoil:</strong> <2m<br/>
    <strong>Natural Resources:</strong> Sand, stones, no local river, palm trees, fresh water spring<br/>
    <strong>Water Supply:</strong> Village Pool<br/>
    <strong>Water Treatment:</strong><br/>
    <strong>Resource Management/Protection:</strong><br/>
    <strong>Community Structure:</strong> The village is managed almost solely by the village counsel (a group of chiefs). Domestic issues and programs are managed by the Komiti Tina (Women's Committee).<br/>
</div>

<div class="span-9 last">
    <h3>Project Details</h3>
    <h3 class="alt">Materials and Labor</h3>

    <strong>Project Funder:</strong> NZ Aid<br/>
    <strong>Pre-Construction Requirements:</strong> The village counsel had to approve the project.  A grant was received from NZ Aid<br/>
    <strong>Labor Force:</strong> The village men<br/>
    <strong>Project Management:</strong> The village chiefs<br/>
    <strong>Construction Resources:</strong> All construction materials, except sand, had to be purchased in Apia or Salelologa<br/>
    <strong>Human Resources:</strong> The men of the village provided the labor<br/>
    <strong>Retail Resources:</strong> All resources were purchased from Bluebird in Salologa.  What could not be found there was purchased at Ace in Apia<br/>
    <strong>Available Technology:</strong> Electricity and some (4 hours/day) of piped water<br/>
    <strong>Materials Used:</strong> Cement<br/>
    <strong>Materials Provider:</strong> I think Bluebird in Saleloga<br/>
</div>
<hr/>
<div class="column span-18 last">
    <h3>Post-Project Maintenance</h3>
    <p>The women's committee manages and maintains the pool.  They insure the cleanliness.  If construction assistance is needed for the maintenance the men of the village provide this.</p>
    <strong>Responsibilities:</strong> The Women's Committee<br/>
    <strong>Funding:</strong> None was needed.<br/>
    <strong>When did the community take ownership:</strong> The village felt ownership through constructing the facility.<br/>
</div>	
<hr/>
<div class="column span-18 last">
    <h3>Lessons Learned</h3>
    <p>Social centers and water conservation is a positive contribution to the village.</p>
    <strong>Successes:</strong> A pool was created where laundry could be done.  For an area that depends on rainwater collection, this helps to conserve water.  Also, it provided a central location for children to play during the heat of the day.<br/>
    <strong>Obstacles:</strong> The most difficult part was getting the project going.  It was also difficult to express the need for this pool to outside groups.<br/>
    <strong>Community Impact:</strong> The women of the village spend time socially doing laundry and bathing.  The children enjoy this pool and can be supervised by adults.<br/>
    <strong>Pre-Construction Actions Required by the Community:</strong> The need from the program was discovered by interviewing citizens of the village.  The results of this were then submitted to the village counsel.<br/>
</div>
<hr/>
<div class="column span-18 last">
    <h3>Educational Component</h3>
    <p>None</p>
</div>
{% endblock %}
