	<?php include('inc/head.inc.php'); ?>
	
	<?php include('inc/header.inc.php'); ?>
			
	<?php include('inc/nav.inc.php'); ?>	
		<div id="ajaxContent">
		<div id="main" class="span-18 last">
			<h2>Resources</h2>
			
			BridgingWaters maintains lists of other organizations that can help with water projects.  
			Visit the pages above to find information on organizations that give <a href="funding_orgs.html">funding</a>, 
			do <a href="project_orgs.html">projects</a>, and provide <a href="resource_orgs.html">resources</a>.  
			We also have a list of <a href="links_and_blogs.html">blogs and other links</a> about water development projects.
		
		</div>
		</div>
		
	</div>

	<?php include('inc/sidebar.inc.php'); ?>
	
	<?php include('inc/footer.inc.php'); ?>		